﻿@page

    
    <div class="row">
        <div class="col-6">
        <table class="">
            <thead>
                <tr>
                    <th>
                        Temperatures
                    </th>
                    <th>
                        Values
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th>
                        <div id="HRT1">Temperature #1</div>
                    </th>
                    <th>
                        <div id="HR1"></div>
                    </th>
                </tr>
                <tr>
                    <th>
                        <div id="HRT2">Temperature #2</div>
                    </th>
                    <th>
                        <div id="HR2"></div>
                    </th>
                </tr>
                <tr>
                    <th>
                        <div id="HRT3">Temperature #3</div>
                    </th>
                    <th>
                        <div id="HR3"></div>
                    </th>
                </tr>
                <tr>
                    <th>
                        <div id="HRT4">Temperature #4</div>
                    </th>
                    <th>
                        <div id="HR4"></div>
                    </th>
                </tr>
                <tr>
                    <th>
                        <div id="HRT5">Temperature #5</div>

                    </th>
                    <th>
                        <div id="HR5"></div>
                    </th>
                </tr>
                <tr>
                    <th>
                        <div id="HRT6">Temperature #6</div>
                    </th>
                    <th>
                        <div id="HR6"></div>
                    </th>
                </tr>
                <tr>
                    <th>
                        <div id="HRT7">Temperature #7</div>
                    </th>
                    <th>
                        <div id="HR7"></div>
                    </th>
                </tr>
                <tr>
                    <th>
                        <div id="HRT8">Temperature #8</div>
                    </th>
                    <th>
                        <div id="HR8"></div>
                    </th>
                </tr>
                <tr>
                    <th>
                        <div id="HRT9">Temperature #9</div>
                    </th>
                    <th>
                        <div id="HR9"></div>
                    </th>
                </tr>
                <tr>
                    <th>
                        <div id="HRT10">Temperature #10</div>
                    </th>
                    <th>
                        <div id="HR10"></div>
                    </th>
                </tr>
            </tbody>

        </table></div>
        <div class="col-6">
            <!--
        <div class="col-6">&nbsp;</div>
        HR2<input type="number" id="IHR2" />
        HR3<input type="number" id="IHR3" />
        HR4<input type="number" id="IHR4" />
        HR5<input type="number" id="IHR5" />
        HR6<input type="number" id="IHR6" />
        HR7<input type="number" id="IHR7" />
        HR8<input type="number" id="IHR8" />
        HR9<input type="number" id="IHR9" />
        HR10<input type="number" id="IHR10" />
        <br>
    -->
            <div class="row">
                User:   <input type="text" id="InputUSER" value="user"/>
            </div>

            <div class="row">
                <div class="col">
                    <br>
                    HR1<input type="number" id="IHR1" value="0"/>
                    <br>
                    HR2<input type="number" id="IHR2" value="0"/>
                    <br>
                    HR3<input type="number" id="IHR3" value="0"/>
                    <br>
                    HR4<input type="number" id="IHR4" value="0"/>
                    <br>
                    HR5<input type="number" id="IHR5" value="0"/>

                </div>
                <div class="col">
                    <br>
                    HR6<input type="number" id="IHR6" value="0"/>
                    <br>
                    HR7<input type="number" id="IHR7" value="0"/>
                    <br>
                    HR8<input type="number" id="IHR8" value="0"/>
                    <br>
                    HR9<input type="number" id="IHR9" value="0"/>
                    <br>
                    HR10<input type="number" id="IHR10" value="0"/>

                </div>
            </div>
            <div class="row">
                &nbsp;
            </div>
            <div class="row">
                <input type="button" id="sendButton" value="Send Message" />
            </div>

        </div>   
    </div>
   

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
@*<script src="http://localhost:8080/signalr/hubs"></script>*@
<script src="~/js/temp.js"></script>


